<style>
    .user{
        cursor: pointer;
    }
    tbody tr:nth-child(odd) {
        background-color: black;
    }

</style>
<div class="col-lg-8">
    <table class="table table-bordered  table-striped">
        <thead>
            <tr>
                <th colspan="5" class="text-center">LISTA DE USUÁRIOS</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>LOGIN</th>
                <th>E-MAIL</th>
                <th>NÍVEL PERMISSÃO</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($users as $user){ ?>
            <tr class="user" user="<?= $user->user_id?>" data-toggle="tooltip" title="Clique aqui para editar o usuário">
                <td><?= $user->user_id ?></td>
                <td><?= $user->user_name ?></td>
                <td><?= $user->user_login ?></td>
                <td><?= $user->user_email ?></td>
                <td><?= $user->user_type->user_type_descr ?></td>
                </a>
                <?php } ?>
            </tbody>
        </table>
</div>
<script>
/**
 * Ao clicar em qualquer usuário carrega a tela de edição de usuário
 */
$(".user").click(function(){
    $.ajax({
        url: '<?= URL_PROJECT ?>/settings/newUser',
        data: "user_id=" + $(this).attr("user"),
        type: 'POST',
        success: function(data){
            $("#main").html(data);
        }
    });
});
</script>