
    <div class="col-lg-8">
        <div class="panel panel-default">
            <?php $this->partial("settings/graphics") ?>
        </div>
        <?php $this->partial("settings/lastPosts") ?>
    </div>
    <!-- /.col-lg-8 -->
