<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="glyphicon glyphicon-large glyphicon-user"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>Leitores Online</div>
                </div>
            </div>
        </div>
        <a href="#">
        <div class="panel-footer">
            <span class="pull-left">Ver Mais</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="glyphicon glyphicon-large glyphicon-tags"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">12</div>
                    <div>Posts Publicados</div>
                </div>
            </div>
        </div>
        <a href="#">
        <div class="panel-footer">
            <span class="pull-left">Ver Mais</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="glyphicon glyphicon-large glyphicon-list-alt"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">124</div>
                    <div>Comentários</div>
                </div>
            </div>
        </div>
        <a href="#">
        <div class="panel-footer">
            <span class="pull-left">Ver Mais</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="glyphicon glyphicon-large glyphicon-home"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">Visualizar Página</div>
                </div>
            </div>
        </div>
    </div>
</div>