<!doctype html>
<!-- Layout padrão para as views do backend -->
<html class="no-js" lang="br">
    <head>
        <meta charset="utf-8">

        <title>Pluton</title>
        <meta name="description" content="Pluton Configurações">
        <meta name="author" content="viniciusilveira">
        <link rel="shortcut icon" href="<?= URL_PROJECT ?>img/logo.png"/>
        <link rel="stylesheet" href="<?= URL_PROJECT ?>css/style.css"/>
        <link rel="stylesheet" href="<?= URL_PROJECT ?>css/bootstrap.min.css"/>
        <link rel="stylesheet" href="<?= URL_PROJECT ?>css/sweet-alert.css"/>
        <link rel="stylesheet" href="<?= URL_PROJECT ?>css/timeline.css"/>
        <link rel="stylesheet" href="<?= URL_PROJECT ?>css/dashboard.css"/>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <script src="<?= URL_PROJECT ?>js/jquery-2.1.3.min.js"></script>
        <script src="<?= URL_PROJECT ?>js/modernizr.js"></script>
        <script src="<?= URL_PROJECT ?>js/bootstrap.min.js"></script>
        <script src="<?= URL_PROJECT ?>js/sweet-alert.js"></script>
        <script src="<?= URL_PROJECT ?>js/bootstrap-filestyle.min.js"> </script>
        <script src="<?= URL_PROJECT ?>js/chart.min.js"> </script>
        <script src="<?= URL_PROJECT ?>js/custom.js"> </script>

        <?= $this->getContent(); ?>
    </body>
</html>